.card {
    --card-gradient: rgba(0, 0, 0, 0.8);
    --card-gradient: #ffffff, #e3e3e3;
    --card-blend-mode: overlay;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
      var(--card-gradient),
      white max(9.5rem, 27vh)
    );
    color: #000;
    width: 100%;
}

.cardComment {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #edffdf, #c8ff49;
  --card-blend-mode: overlay;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  background-image: linear-gradient(
    var(--card-gradient),
    white max(9.5rem, 27vh)
  );
  color: #000;
  width: 100%;
}

.buttonVote, .buttonComments {
  cursor: pointer;
}